    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <!-- <h2>Сервер було закрито!</h2>
                <p>Адміністрація проекту дякує всім хто долучився до гри та повідомляє що проект було закрито. Сервери більше не доступні для гри.</p> -->
                <p>Для того щоб почати грати на NURECRAFT потрібно:</p>
                <p><b>1.</b> <br />
                    <i>(Tech)</i> Завантажити <a href="https://github.com/nurecraft/nurecraft.github.io/raw/master/launchers/NureCraft.exe">спеціальний лаунчер Minecraft</a>;<br />
                    <i>(Vanilla)</i> Завантажити офіційний лаучер або скористатись TLauncher</a>;<br />
                </p>
                <p><b>2.</b> Запустити лаучер та завантажити кліент;</p>
                <p><b>3.</b> В меню "Гра у мережі" приэднатись на сервер за адресою:</p>
                <p id="tech-container">
                    <img src="/img/logo.png" alt="Tech" height="15%" width="15%">
                    <span class="tech-status">
                        <span class="tech-online">-</span>/<span class="tech-max">-</span>
                    </span> - <code>tech.nurecraft.ml</code> (1.12.2);
                </p>
                <p id="tech-players"></p>
                <p id="vanilla-container">
                    <img src="/img/vanilla-icon.png" alt="vanilla" height="15%" width="15%">
                    <span class="vanilla-status">
                        <span class="vanilla-online">-</span>/<span class="vanilla-max">-</span>
                    </span> - <code>vanilla.nurecraft.ml</code> (1.18.1);
                </p>
                <p id="vanilla-players"></p>
                <!-- <p id="anarchy-container">
                    <img src="/img/anarchy-icon.png" alt="Anarchy" height="15%" width="15%">
                    <span class="anarchy-status">
                        <span class="anarchy-online">-</span>/<span class="anarchy-max">-</span>
                    </span> - <code>anarchy.nurecraft.ml</code>;
                </p>
                <p id="anarchy-players"></p>  -->
                <p><b>4.</b><br />
                    <i>(Vanilla)</i> Зареєструйтесь на сервері за допомогою нашого Telegram боту: <a href="https://t.me/nurecraft_bot?start=register" target="_blank" class="btn btn-default btn-lg" ><i class="fa fa-plug fa-fw"></i>@nurecraft_bot</a>;<br />
                    <i>(Tech)</i> Зайдіть на сервер та зареєструйтесь командою: <code>/register password password</code>;</p>
                <p><b>5.</b> Увійти на сервер та за допомогою команди <code>/login</code> авторизуватись додавши ваш пароль до команди, от так: <code>/login password</code>;</p>
                <p><b>6. Насолоджуватись грою!</b></p>
                </p>
            </div>
        </div>
    </section>
