    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2>Почати грати</h2>
                <p>Для того щоб почати грати на NURECRAFT потрібно:</p>
                <p><b>1.</b> Завантажити офіційний лаунчер Minecraft (якщо ви маєте ліцензію) АБО скористатися TLauncher'ом;</p>
                <p><b>2.</b> Встановити кліент Minecraft версії <b>1.16.2</b>;</p>
                <p><b>3.</b> В меню "Гра у мережі" додати сервер за адресою:</p>
                <p id="vanilla-container">
                    <img src="/img/vanilla-icon.png" alt="Vanilla" height="15%" width="15%"> 
                    <span class="vanilla-status">
                        <span class="vanilla-online"></span>/<span class="vanilla-max"></span>
                    </span> - <code>vanilla.nurecraft.ml</code>;
                </p>
                <p id="vanilla-players"></p>
                <!-- <p id="anarchy-container">
                    <img src="/img/anarchy-icon.png" alt="Anarchy" height="15%" width="15%"> 
                    <span class="anarchy-status">
                        <span class="anarchy-online">0</span>/<span class="anarchy-max"></span>
                    </span> - <code>anarchy.nurecraft.ml</code>;
                </p>
                <p id="anarchy-players"></p>  -->
                <p><b>4.</b> Зареєструйтесь на сервері за допомогою нашого Telegram боту: <a href="https://t.me/nurecraft_bot?start=register" target="_blank" class="btn btn-default btn-lg" ><i class="fa fa-plug fa-fw"></i>@nurecraft_bot</a>;</p>
                <p><b>5.</b> Увійти на сервер та за допомогою команди <code>/login</code> авторизуватись додавши ваш пароль до команди, от так: <code>/login password</code>;</p>
                <p><b>6. Насолоджуватись грою!</b></p>
                </p>
            </div>
        </div>
    </section>
