    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2>Начать играть</h2>
                <p>Для того чтобы начать играть на NURECRAFT нужно:</p>
                <p><b>1.</b> Скачать официальный лаунчер Minecraft (если у вас есть лицензия) ИЛИ воспользоваться TLauncher'ом;</p>
                <p><b>2.</b> Установить клиент Minecraft версии 1.15.2;</p>
                <p><b>3.</b> В меню "Сетевой игры" добавить наш сервер с адресом: <code>server.nurecraft.ml</code>;</p>
                <p><b>4.1.</b> При первом входе на сервер ввести команду <code>/register</code> и свой пароль дважды, примерно вот так: <code>/register IloveNURE IloveNURE</code>;</p>
                <p><b>4.2.</b> Залогиниться командой <code>/login</code> добавив пароль из регистрации, вот так: <code>/login IloveNURE</code>;</p>
                <p><b>5. Profit!</b></p>
                </p>
            </div>
        </div>
    </section>