<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="NURECRAFT" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nurecraft.ml" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ "/img/cover.jpg" | prepend: site.baseurl }}" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="/img/favicon.png">
    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script>
    // Check if a new cache is available on page load.
    window.addEventListener('load', function(e) {

      window.applicationCache.addEventListener('updateready', function(e) {
        if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
          // Browser downloaded a new app cache.
          // Swap it in and reload the page to get the new hotness.
          window.applicationCache.swapCache();
          if (confirm('A new version of this site is available. Load it?')) {
            window.location.reload();
          }
        } else {
          // Manifest didn't changed. Nothing new to server.
        }
      }, false);

    }, false);

    function getServerStatus(serverName) {
        fetch(`https://api.mcsrvstat.us/2/${serverName}.nure.cf`)
        .then((resp) => resp.json()).then((data) => {
          document.querySelector(`.${serverName}-status`).classList.replace(
            'alert-warning', data.online ? 'alert-success' : 'alert-danger'
          )
          document.querySelector(`.${serverName}-online`).innerHTML = data.players.online | "-";
          document.querySelector(`.${serverName}-max`).innerHTML = data.players.max | "-";
          document.querySelector(`#${serverName}-players`).innerHTML = (
            data.players.list
            ? 'Гравці на сервері: ' + data.players.list.join(', ')
            : "На сервері нікого.. Будь першим, приєднуйся!"
          );
          })
       .catch((error) => console.log(error))
    }

    // setInterval(getServerStatus("magictech"), 240000);
    setInterval(getServerStatus("vanilla"), 240000);
    // setInterval(getServerStatus("anarchy"), 240000);
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
